<h5 class="card-title">Update user information <span class="close-icon" (click)="closeDialog('closeDialog')"></span></h5>
<mat-card class="mat-card">
    <mat-card-content>
        <form [formGroup]="editUserForm">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 col-12">
                    <mat-form-field>
                        <input matInput placeholder="Id" formControlName="id" maxlength="10">
                    </mat-form-field>
                    <mat-error *ngIf="editUserForm.get('id').hasError('required')">Required field can not be blank</mat-error>
                    <mat-error *ngIf="editUserForm.get('id').hasError('pattern')">Please enter a valid Id.</mat-error>
                </div>

                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 col-12">
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 col-12">
                    <mat-form-field>
                        <input matInput placeholder="Phone" formControlName="phone">
                    </mat-form-field>
                    <mat-error *ngIf="editUserForm.get('phone').hasError('required')">Required field can not be blank</mat-error>
                </div>

                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 col-12">
                    <mat-form-field>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 col-12">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-error *ngIf="editUserForm.get('email').hasError('required')">Required field can not be blank</mat-error>
                </div>

                <div class="col-md-6 col-sm-6 col-xl-6 col-lg-4 col-12">
                    <mat-form-field>
                        <input matInput placeholder="Address" formControlName="address">
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" class="submit" [disabled]="!editUserForm.valid" (click)="formSubmit(editUserForm.value)">
                Update
            </button>
        </form>
    </mat-card-content>
</mat-card>