<div class="title">
    <h4>Welcome <span class="username">{{getUsername}}!</span></h4>
</div>
<mat-card>
    <mat-card-content class="example-card">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-section dashboard-table desktop-view-table">

            <ng-container matColumnDef="id">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element">
                    {{(element.id) ? (element.id) : "-"}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element">
                    {{(element.name) ? (element.name) : "-"}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Phone </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element"> {{(element.phone) ?
                    (element.phone) : "-"}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Username </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element">
                    {{(element.username) ? (element.username) : "-"}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element">
                    <span class="overflow-text-ellipsis" matTooltip="{{element.email}}">{{element.email}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Address </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element"> {{element.address.street}}
                    {{element.address.city}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell class="header cell-1" *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell class="cell cell-2" *matCellDef="let element">
                    <mat-icon matTooltip="Edit" class="edit-button" color="primary" (click)="editUser(element)">edit</mat-icon>
                    <mat-icon matTooltip="Delete" class="delete-button">delete</mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="text-center mt-3 mt-3" *ngIf="noData">
            No Records Found.
        </div>
        <div class="text-center mt-3 mt-3" *ngIf="getDataApiError">
            Get Data Api Error.
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="30" *ngIf="showSpinner" class="loader"></mat-spinner>
            <mat-paginator [pageSize]="5" [pageIndex]="0" [length]="data.length" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>